@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@300&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid */

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 15fr 1fr ;
    grid-template-columns: 2fr 10fr 10fr ;
    gap: 2px;
}


header {
    background-color: white;
    grid-column: 2/4;
}
.contact-menu {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding-top: 15px;
    padding-right: 5px;
}

 a {
    text-decoration: none;
 }

nav {
    background-color: red;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style: none;
}

.navbar-menu {
    padding-top: 15rem;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.navbar .logo {
    padding-top: 5px;
}


.navbar-menu a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

main {
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/-1;
}

main .sneaker-img {
    width: 300px;
    height: 300px;
}

.home {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.home div {
    width: 700px;
    margin: 200px 70px ;
    font-size: large;
}

footer {
    background-color: steelblue;
    grid-column: -4/-1;
}
