*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid */

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 15fr 1fr ;
    grid-template-columns: 1fr 20fr 3fr ;
    gap: 2px;
}


header {
    background-color: white;
    grid-column: 2/4;
}
.contact-menu {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding-top: 15px;
    padding-right: 5px;
}

 a {
    text-decoration: none;
 }

nav {
    background-color: red;
    grid-row: 1/4;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main {
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/-1;
}

main .sneaker-img {
    width: 300px;
    height: 300px;
}

.home {
    display: flex;

}

footer {
    background-color: steelblue;
    grid-column: -4/-1;
}
